<html>
    <head>
        <title>Vue Compoenent Registration</title>
    </head>
    <div class="body">
        <div id="app">
            <div id="sender-app">
                <input v-model="text">
                <button @click="sender">send</button>
                <div v-if="receiveText">I sent a message: {{ receiveText }}</div>
            </div>
            <div id="receive-app">
                <div v-if="text">I receive a message : {{ text }}</div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.2/dist/vue.js"></script>
        <script>

            var eventBus = new Vue();
            var SenderApp = new Vue({
                el: "#sender-app",
                data() {
                    return {
                      'text' : '',
                      'receiveText' : ''
                    }
                },
                created() {
                    eventBus.$on('message', this.OnReceive);
                },
                methods: {
                    sender() {
                        eventBus.$emit('message', this.text);
                        this.text = '';
                    },
                    OnReceive(text) {
                        this.receiveText = text;
                    }
                }
            });
            var ReceiveApp = new Vue({
                el: "#receive-app",
                data() {
                    return {
                        'text' : ''
                    }
                },
                created() {
                    eventBus.$on('message', this.OnReceive);
                },
                methods : {
                    OnReceive(text) {
                        this.text = text;
                    }
                }
            });
        </script>
    </div>
</html>