@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html, body, button {
    font-family: "Noto Sans KR", serif;
}

html, body{
    overflow-x: hidden;
}

.line-height-zero{
    line-height: 0;
}

.line-height-zero > *{
    line-height: normal;
}

body, ul, li{
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.row::after{
    content: "";
    clear: both;
    display: block;
}

.cell{
    float: left;
    box-sizing: border-box;
}

.cell-right{
    float: right;
    box-sizing: border-box;
}

.con{
    margin-left: auto;
    margin-right: auto;
}

/*TodoPage ends*/
/*Calender starts*/

