@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html, body, button {
    font-family: "Noto Sans KR", serif;
}

html, body{
    overflow-x: hidden;
}

.line-height-zero{
    line-height: 0;
}

.line-height-zero > *{
    line-height: normal;
}

body, ul, li{
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.row::after{
    content: "";
    clear: both;
    display: block;
}

.cell{
    float: left;
    box-sizing: border-box;
}

.cell-right{
    float: right;
    box-sizing: border-box;
}

.con{
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: 	#F0FFFF;
}

.TodoPage > .wrapper{
    display: block;
    margin-top: 20px;
    background-color: white;
}

.TodoPage .header {
    display: block;
    text-align: center;
    margin-top: 20px;
}

.TodoPage .header > h1{
    display: block;
    letter-spacing: -2px;
    margin: 0px;
}

.TodoPage .header > h2{
    display: block;
    font-size: 1.3rem;
    color: rgba(0,0,0,0.6);
    letter-spacing: -1px;
    margin: 0px;
}

.TodoPage .body{
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: aliceblue;
}

.TodoPage .body > .buttons{
    display: block;
    text-align: center;
}

.TodoPage .body > .buttons > .button{
    display: inline-block;
    width: 100px;
    cursor: pointer;
    border-radius: 5px;
}

.TodoPage .body > .buttons .add-button{
    border: solid 2px rgba(155, 17, 17, 0.87);
    background-color: rgba(224, 173, 173, 0.945);
}

.TodoPage .body > .buttons .delete-button{
    border: solid 2px rgba(17, 17, 155, 0.87);
    background-color: rgba(173, 173, 224, 0.945);
}

.TodoPage .body > .buttons > .button{
    font-weight: 500;
}

.TodoPage .body > .body-wrapper {
    margin-top: 10px;
}

.TodoPage .body > .buttons .add-button:hover{
    background-color: rgba(219, 66, 66, 0.945);
}

.TodoPage .body > .buttons .delete-button:hover{
    background-color: rgba(66, 66, 219, 0.945);
}

.TodoPage .body .add-list > .input-box{
    margin-top: 10px;
    display: block;
    position: relative;
}

.TodoPage .body .add-list > .input-box > input{
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    width: 80%;
    outline: none;
}

.TodoPage .body .add-list > .input-box > input:focus{
    border-color: black;
    outline: none;
}


.TodoPage .body .add-list > .input-box > .add-button{
    display: inline-block;
    position: absolute;
    border: 1px solid blue;
    border-radius: 3px;
    background-color: skyblue;
    cursor: pointer;
    box-sizing: border-box;
    right: 0;
    top: 50%;
    margin-right: 10px;
    transform: translateY(-50%);
}

.TodoPage .body .add-list > .input-box > .add-button:hover{
    background-color: slateblue;
}

.TodoPage .body .task-wrapper{
    margin: 0 10px;
    margin-top: 10px;
    border: 1px solid seagreen;
}

.TodoPage .body .task-wrapper .task-item{
    display: block;
    box-sizing: border-box;
    position: relative;
    border: 1px solid aquamarine;
    border-radius: 2px;
    margin: 2.5px 10px;
    cursor: pointer;
}

.TodoPage .body .add-list .task-wrapper .task-item:hover{
    background-color: aquamarine;
}

.TodoPage .body .task-wrapper .task-item.completed, 
.TodoPage .body .task-wrapper .task-item.completed .task-item-describe{
    text-decoration: line-through;

}

.TodoPage .body .delete-list .task-item-describe{
    display: inline-block;
    width: 80%;
}

.TodoPage .body .task-wrapper .task-item > .delete-icon{
    display: inline-block;
    position: absolute;
    text-align: center;
    box-sizing: border-box;
    top:50%;
    transform: translateY(-50%);
    right: 0;
    width: 20%;
    font-size: 0.5rem;
    border: 1px solid red;
    border-radius: 2px;
    cursor: pointer;
}

.TodoPage .body .delete-list .delete-box{
    margin-top: 10px;
    border : 1px red solid;
    text-align: center;
    background-color: salmon;
    font-weight: bold;
    cursor: pointer;
}

.TodoPage .body .delete-list .delete-box:hover{
    background-color: darksalmon;
}

.TodoPage .con{
    max-width: 500px;
}



/*TodoPage ends*/
/*Calender starts*/


.Calender {
    margin: 20 20px;
    width: 500px;
    height: 300px;
    border: 5px solid wheat;
    user-select: none;
}

.Calender > .head{
    display: block;
    text-align: center;
    margin-top: 10px;
}

.Calender > .body{
    margin-top: 10px;
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.Calender > .body > .month{
    display: inline-block;
    position: relative;
    width: 100%;
}

.Calender > .body > .month > .current_info{
    display: block;
    position: absolute;
    text-align: center;
    padding: 0 20%;
    left: 50%;
    transform: translateX(-50%);
    white-space:nowrap;
}

.Calender > .body > .month > .current_info:hover{
    color: skyblue;
}

.Calender > .body > .month > .button{
    display: block;
    position: absolute;
    padding: 0 5px;
}

.Calender > .body > .month > .button:hover{
    color: skyblue;
}

.Calender > .body > .month > .left-button{
    left: 10px;
}

.Calender > .body > .month > .right-button{
    right: 10px;
}

.Calender > .body > .day_wrapper{
    position: relative;
    display: block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: blue;
}

.Calender > .body > .day_wrapper > .row > .cell{
    display: block;
    width: calc(100%/7);
    text-align: center;
}

.Calender > .body > .day_box{
    display: block;
    width: 100%;
}

.Calender > .body > .day_box > .row{
    position: relative;
}

.Calender > .body > .day_box > .row > .cell{
    display: block;
    width: calc(100%/7);
    height: 25px;
    text-align:center;
    box-sizing: border-box;
    position: relative;
}

.Calender > .body > .day_box > .row > .cell.show{
    background-color: beige;
    cursor: pointer;
}

.Calender > .body > .day_box > .row > .cell.active{
    border: solid 1px red;
}

.Calender > .body > .day_box > .row > .cell:nth-child(7n+8){
    clear: both;
}

.Calender > .body > .day_box > .row > .cell > .day_box_button{
    position : absolute;
    top:0%;
    left:0%;
    width: 100%;
    height: 100%;
}

.Calender > .body > .day_box > .row > .cell > .popup{
    position: fixed;
    top:0;
    left:0;
    display: block;
    z-index: 1;
    width: 520px;
    height: 320px;
}

.Calender > .body > .day_box > .row > .cell > .popup > .popup_wrapper{
    position: absolute;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: white;
    border: 1px solid black;
    opacity: 1;
}

.Calender > .body > .day_box > .row > .cell > .popup > .popup_wrapper{
    position: absolute;
    cursor: Default;
}

.Calender > .body > .day_box > .row > .cell > .popup > .popup_wrapper > .popup_title{
   margin-top: 10px;
   margin-bottom: 10px;
}

.Calender > .body > .day_box > .row > .cell > .popup > .popup_wrapper > .popup_title > span{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.Calender > .body > .day_box > .row > .cell > .popup > .popup_wrapper > .popup_close{
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-right: 10px;
    translate: background-color 0.3s;
    cursor: pointer;
}

.Calender > .body > .day_box > .row > .cell > .popup > .popup_wrapper > .popup_close:hover{
    background-color: rgba(0,0,0,0.3);
}

.Calender > .body > .day_box > .row > .cell > .popup > .popup_wrapper > .popup_close::before,
.Calender > .body > .day_box > .row > .cell > .popup > .popup_wrapper > .popup_close::after
{
    content: "";
    position: absolute;
    display: block;
    width: 8px;
    height: 100%;
    top:50%;
    left:50%;
    background-color: black;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.Calender > .body > .day_box > .row > .cell > .popup > .popup_wrapper > .popup_close::after{
    position: absolute;
    right: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    right: 0;
}

.Calender > .body > .day_box > .row > .cell > .popup > .popup_wrapper > .add_list > *{
    display: inline-block;
}

.Calender > .body > .day_box > .row > .cell > .popup > .popup_wrapper > .add_list > .button{
    margin-left: 5px;
    background-color: skyblue;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}
.Calender > .body > .day_box > .row > .cell > .popup > .popup_wrapper > .popup_content > .todobox > .todo{
    margin: 3px 3px;
    border-radius: 1px;
}
.Calender > .body > .day_box > .row > .cell > .popup > .popup_wrapper > .popup_content > .todobox > .todo {
    position: relative;
}
.Calender > .body > .day_box > .row > .cell > .popup > .popup_wrapper > .popup_content > .todobox > .todo > *{
    display: block;
    text-align: center;
}

.Calender > .body > .day_box > .row > .cell > .popup > .popup_wrapper > .popup_content > .todobox > .todo > span{
    border: 1px solid #4f4f4f;
    width: 75%;
    margin-right: 5px;
}

.Calender > .body > .day_box > .row > .cell > .popup > .popup_wrapper > .popup_content > .todobox > .todo > .delete-icon{
    border: 1px solid #4f4f4f;
    width: 23%;
    height: 100%;
}